
 #main {
		border:1px grey solid;
		width:70%;
		margin:auto;
		background-color:rgba(255,255,255,0.7);
	 	
	}


 #main_temp {
		padding-top:20px;
	}

	#main_temp h1 span {
	  color:grey;
	}

	#main_details {
		
		padding-top:5vw;
		padding-right:5vw;
		font-weight:bold;
		font-style:helvetica;
		color:rgb(77, 77, 77);
		line-height:1.5;
		font-size:130%;
	}

#days {
  margin-top:30px;
}
	
	.day h4{
	  color:grey;
	  font-size:110%;
	}
	
	.day p span {
	  font-size:1.5vw;
	  color:grey;
	}

	#body_forecast {
	  background-image:url("https://s-media-cache-ak0.pinimg.com/originals/68/e7/d8/68e7d8450f5b1ace7eaa3b8007df4966.jpg");
	  background-size: cover;
	  background-attachment: scroll;
    padding-top:50px;
	}

	
	#day1_descr {
	  font-family:"Comic Sans MS";
	  font-style:italic;
	  position:relative;
	  left:8vw;
	  top:0.5vw;
	  font-size:125%
	}

#day1_icon {
  display:block;
  margin:auto;
}


