.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}

#body_forecast {
	  background-image:url("https://s-media-cache-ak0.pinimg.com/originals/68/e7/d8/68e7d8450f5b1ace7eaa3b8007df4966.jpg");
	  background-size: cover;
    backgroun-repeat: no-repeat;
	  background-attachment: scroll;
   
	}

#main {
    margin-top:20vw;
    border:3px;
		margin:auto;
    background-color:rgba(255,255,255,0.7);
	 	border-style:outset;
   
	}


 #main_temp {
		padding-top:20px;
	}

	#main_temp h1 span {
	  color:grey;
	}

	#main_details {
		
		padding-top:5vw;
		padding-right:5vw;
		font-weight:bold;
		font-style:helvetica;
		color:rgb(77, 77, 77);
		line-height:1.5;
		font-size:130%;
	}

#days {
  margin-top:20px;
  padding-top:10px;
  	
}
.day {
  border-style:outset;
  background-color:rgba(30,144,255, 0.3);
}
	.day h4{
	  color:grey;
	  font-size:120%;
	}
	
	.day p span {
	  font-size:90%;
	  color:grey;
	}

		
	#day1_descr {
	  font-family:"Comic Sans MS";
	  font-style:italic;
	  position:relative;
	  left:8vw;
	  top:0.5vw;
	  font-size:125%;
	}

#day1_icon {
  display:block;
  margin:auto;
}


