body {
  padding-top:6%;
  background:no-repeat center center fixed;        
  background-size: cover;
  background-position:center;
  color:black;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  
}

h1 {
  margin-top:2%;
  font-size:3em;
  font-family:"Bungee Shade";
  
}



#city, #country, #comma {
  padding-top:3%;
  font-family:Lobster;
  font-size:250%;
}

#celsius, #toggle {
  padding-top:4%;
  font-size:200%;
  letter-spacing: -2px;
 
  }
  
  #toggle {
  cursor:pointer;
  background:transparent;
  }
  
.border {
padding:3%;
border: 1px solid black;
margin-left:35%;
margin-right:35%;
background-color:rgba(256,256,256,0.7);
border-radius:0 10% 0 10%;
}

.button {
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    
    font-size: 14px;
	margin-bottom:20%;
	background-color:white;
	color:black;
	font-weight:bold;
}

.descr {
  font-size:270%;
  font-family:"Indie Flower";
  margin-top:10%;
}

.icon {
width:70px;
margin:5%;
}

#more {
	margin-top:5%;
	cursor:pointer;
}

.justify {
	text-align:justify;
	font-size:150%;
	margin-top:2%;
}

#main {
	border:1px grey solid;
	width:70vw;
	height:50vw;
	margin:auto;
	
}

#main_temp {
	width:20vw;
	height:20vw;
	
}

#main_temp img {
  width:8vw;
  position:relative;
  left:6vw;
  top:2vw;
}

#main_temp h1 {
  font-size:4vw;
  position:relative;
  left:5vw;
  top:2vw;
}

#main_temp h1 span {
  font-size:3.6vw;
  color:grey;
}

#main_details {
	width:30vw;
	height:20vw;
	float: right;
	position:relative;
	top:-20vw;
  padding-top:3vw;
  padding-left:3vw;
	
}

#days {
  border-top:grey solid 2px;
	width:70vw;
	height:10vw;
	position:relative;
	top:-10vw;
}
.day {
	width:10vw;
	height:15vw;
  position:relative;
  left:2.3vw;
	
}
.day img {
  width:4vw;
}
.day p {
  font-size:2vw;
}

.day p span {
  font-size:1.5vw;
  color:grey;
}

